  #main{
                width:960px;
                margin-left:auto;
                margin-right:auto;
                border:1px solid #999;
            }
            #header{
                width:100%;
                height:200px;
                background:blue;
            }
            #sidebar{
                width:20%;
                float:left;
                background:yellow;
            }
			.menu{
			   background : red;
			}
            #content{
                width:79%;
                float:right;
            }
            #footer{
                width:100%;
                height:50px;
                background:#000;
                color:#FFFFFF;
            }
            .clear{
                clear:both;
            }